.servicesSection {
    background-color: var(--cor-bege-secao);
    text-align: center;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 1024px) {
    .servicesGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .servicesGrid {
        grid-template-columns: 1fr;
    }
}